@font-face {
  font-family: 'Tuesday Night';
  src:
    local('Tuesday Night Regular'),
    local('Tuesday-Night-Regular'),
    url('./font/TuesdayNight-Regular.woff2') format('woff2'),
    url('./font/TuesdayNight-Regular.woff') format('woff'),
    url('./font/TuesdayNight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Decorate';
  src: url('Decorate-Regular.eot');
  src:
    local('Decorate'),
    local('Decorate-Regular'),
    url('./font/Decorate-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/Decorate-Regular.woff2') format('woff2'),
    url('./font/Decorate-Regular.woff') format('woff'),
    url('./font/Decorate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src:
    local('Circular Std Book Italic'),
    local('Circular-Std-Book-Italic'),
    url('./font/CircularStd-BookItalic.woff2') format('woff2'),
    url('./font/CircularStd-BookItalic.woff') format('woff'),
    url('./font/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AmpleSoft Pro';
  src: url('./font/AmpleSoftPro-Regular.eot');
  src:
    local('AmpleSoftPro-Regular'),
    url('./font/AmpleSoftPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/AmpleSoftPro-Regular.woff2') format('woff2'),
    url('./font/AmpleSoftPro-Regular.woff') format('woff'),
    url('./font/AmpleSoftPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Flower';
  src: url('./font/나눔손글씨\ 꽃내음.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Donghwa';
  src: url('./font/나눔손글씨\ 동화또박.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
