.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  z-index: 5000;

  .modal {
    width: 100%;
    max-width: var(--page-width);
    overflow: hidden;
    max-height: 100svh;

    .modalTop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5001;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;

      .modalIndex {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        padding: 15px 20px;
      }

      .closeBtn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 20px;
        border: none;
        background-color: unset;
      }
    }

    .modalBody {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper {
        :global(.swiper-wrapper) {
          display: flex;
          align-items: center;
        }

        .modalImg {
          display: flex;
          align-items: center;
          justify-items: center;

          img {
            width: 100%;
            max-width: 100vw;
            height: auto;
            max-height: 100svh;
            object-fit: contain;
            display: block;
          }
        }
      }
    }

    .arrowContainer {
      .iconBtn {
        position: absolute;
        top: 50%;
        padding: 6px 10px;
        cursor: pointer;
        background-color: unset;
        border: none;
        z-index: 5000;
        border-radius: 100%;

        svg {
          width: 30px;
        }

        &.prev {
          left: 0;

          svg {
            transform: rotate(270deg);
          }
        }
        &.next {
          right: 0;

          svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
